* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(180deg, #081a24, #02080c);
  color: white;
  text-align: center;
}

/* Navbar */
.navbar {
  padding: 20px;
  font-size: 22px;
}

/* Hero */
.hero {
  padding: 90px 20px;
}

.hero span {
  color: #5fffe0;
}

.btn {
  margin-top: 20px;
  padding: 14px 40px;
  background: #5fffe0;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
}

/* Features */
.features {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 60px 0;
}

.card {
  background: #132c3a;
  padding: 30px;
  width: 150px;
  border-radius: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
  background: #1f465c;
}

/* Footer */
footer {
  padding: 40px 10px;
  font-size: 14px;
}

footer a {
  color: #5fffe0;
  text-decoration: none;
}
